<h4>Last transactions : </h4>
<ul class="list-item">
  <% @transactions.reverse.each do |transaction| %>
    <li class="transac-list">
        <div class="txid">
          <% if transaction['category'] == 'send' %>
            <span class="send"><%= icon('arrow-up') %></span>
          <% else %>
            <span class="receive"><%= icon('arrow-down') %></span>
          <% end %>
          <span class="id"><%= transaction['txid'] %></span>
          <span class="account"><%= transaction['account'] %></span>
        </div>
      <div class="trasac-amount">
        <%= icon('btc') %> <%= transaction['amount'] %> |
        <%= icon('thumbs-o-up') %> <%= transaction['confirmations'] %>
      </div>
      <% if transaction['confirmations'] < 6 %>
          <div class="progress" style="margin-bottom:0px;">
            <div class="progress-bar progress-bar-striped active" style="width: <%= transaction['confirmations'] / 6 * 100 %>%;">
              <span class="sr-only">60% Complete</span>
            </div>
          </div>
          <em>Confirming...</em>
      <% end %>
    </li>
  <% end %>
</ul>
