<!DOCTYPE html>
<html>
  <head>
    <title>OwnCoin</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><%= image_tag 'owncoin_navbar.png', id: 'navbar-icon' %></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Home', home_path %></li>
            <li><%= link_to 'Accounts', accounts_path %></li>
            <li><%= link_to 'Wallet', wallet_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "#{icon('sign-out')} Logout".html_safe, logout_path, method: :delete %></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container owncoin-frame">
      <div class="row">
        <div class="information col-xs-3">
          <h4>General information : </h4>
          <div class="balance-view">
            <%= icon('btc') %> <%= @information['balance'] %>
          </div>
          <div><%= icon('link') %> <%= @information['connections'] %> connections</div>
          <div>
            <%= icon('refresh') %> <%= @total - @current  %> blocks late
            <% if @total != @current %>
              <div class="progress" style="margin-bottom:0px;">
                <div class="progress-bar progress-bar-striped active" style="width: <%= @current.to_f / @total.to_f * 100 %>%;">
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="page-content col-xs-9">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
